.form-container {
  margin: 10px;
  width: 97%;
}

.cover-divbox {
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  margin-bottom: 10px;
}

.cover-preview {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
